@model Project.Models.FuelHistory
@using System.Diagnostics.CodeAnalysis
@attribute [ExcludeFromCodeCoverage]



<form method="post" asp-action="GetQuote">
    
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1 class="text-primary">Fuel Quote Form</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="input-group-lg">
                    <div class="form-floating">
                        <input asp-for="GallonsRequested" id="gallonsRequestedInput" class="form-control" placeholder="Gallons Requested" type="number" step="1" name="gallonsRequested" tabindex="1" required autofocus>
                        <span asp-validation-for="GallonsRequested" class="text-danger"></span>
                        <label >Gallons Requested</label>

                    </div>

            </div>

            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                
                <div class="input-group-lg">
                    <div class="form-floating">
                        
                        <input asp-for="DeliveryAddress" class="form-control" type="text" value="@ViewBag.DeliveryAddress" tabindex="2" required readonly>
 
                        <label class="form-label">Delivery Address</label>
                
                    </div>

                </div>
      
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col">
                <div class="input-group-lg">
                    <div class="form-floating">
                        <input asp-for="DeliveryDate" id="deliveryDateInput" class="form-control" placeholder="Delivery Date" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" name="deliveryDate" tabindex="3" required>
                
                        <label class="form-label">Delivery Date</label>
                                
                    </div>
                                
                </div>
                
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                
                <div class="input-group-lg">
                    <div class="form-floating">
                        <input asp-for="SuggestedPrice" placeholder="Suggested Price" class="form-control" type="number" name="suggestedPrice" tabindex="4" readonly value="@ViewBag.SuggestedPrice">
                                
                        <label class="form-label">Suggested Price Per Gallon</label>
                                                
                    </div>
                                                
                </div>
                


            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                
                <div class="input-group-lg">
                    
                    <div class="form-floating">

                        <input asp-for="TotalAmountDue" placeholder="Total Amount Due" class="form-control" type="number" name="totalAmountDue" tabindex="5" readonly value="@ViewBag.TotalAmountDue">

                        <label class="form-label">Total Amount Due</label>
                        

                    </div>

                </div>
                

            </div>
        </div>
            <div class="row mb-3">
                <div class="col-12">
                    <button   id="getQuoteBtn" type="submit" class="btn btn-primary btn-block form-control">Get Quote</button>
                </div>
            </div>
    </div>
</form>
