<title>Fuel Quote History</title>
<body>
  <h1 class="text-center">Fuel Quote History</h1>
<table class="table table-hover">
  <thead class="thead-dark text-center">
    <tr>
      <th scope="col">Order Number</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Gallons Requested</th>
      <th scope="col">Delivery Address</th>
      <th scope="col">Delivery Date</th>
      <th scope="col">Suggested Price per Gallon</th>
      <th scope="col">Total Amount due</th>
    </tr>
  </thead>
   <tbody class= "text-center">
     <tr>
       <th scope="row">1</th>
       <td>John Smith</td>
       <td>2</td>
       <td>Delivered</td>
       <td>1234 Street st.</td>
       <td>02/21/2024</td>
       <td>$2</td>
       <td>$4</td>
     </tr>
     <tr>
       <th scope="row">2</th>
       <td>Jane Doe</td>
       <td>3</td>
       <td>Processing</td>
       <td>5678 Avenue Ave.</td>
       <td>03/15/2024</td>
       <td>$3</td>
       <td>$9</td>
     </tr>
     <tr>
       <th scope="row">3</th>
       <td>Bob Johnson</td>
       <td>1</td>
       <td>Processing</td>
       <td>9876 Lane Ln.</td>
       <td>04/02/2024</td>
       <td>$5</td>
       <td>$5</td>
     </tr>
   </tbody>

</table>
</body>

@model IEnumerable<Project.Models.FuelHistory>

<div class="container ">
    <div class="row pt-4 pb-3">

        <div class="col-6">
            <h1 class="text-primary">
                Fuel Quote History
            </h1>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="FuelQuote" asp-action="index" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>More Quote
            </a>
        </div>

    </div>

    <table class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Gallons Requested
                </th>
                <th>
                    Delivery Address
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.GallonsRequested</td>
                    <td>@item.DeliveryDate</td>

                </tr>
            }
        </tbody>
    </table>
</div>
