@model Project.Models.FuelHistory
@using System.Diagnostics.CodeAnalysis
@attribute [ExcludeFromCodeCoverage]

<form method="post" asp-action="Index">

    <!-- Assigning static values to hidden fields since we don't have pricing module yet-->
    <input type="hidden" asp-for="SuggestedPrice" value="1" />
    <input type="hidden" asp-for="TotalAmountDue" value="1" />


    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1 class="text-primary">Fuel Quote Form</h1>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input asp-for="GallonsRequested" class="form-control" placeholder="Gallons Requested" type="number" min="1" step="1"  name="gallonsRequested" tabindex="1" required autofocus>
                <span asp-validation-for="GallonsRequested" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input asp-for="DeliveryAddress"  class="form-control" type="text" value="@ViewBag.DeliveryAddress" tabindex="2" required readonly>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input asp-for="DeliveryDate" class="form-control" placeholder="Delivery Date" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" name="deliveryDate" tabindex="3" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input placeholder="Suggested Price per gallon" class="form-control" type="number" name="suggestedPrice" tabindex="4" readonly><!-- Price will be calculated by Pricing Module -->
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input placeholder="Total Amount Due" class="form-control" type="number" name="totalAmountDue" tabindex="5" readonly><!-- Calculated (gallons * price) -->
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block form-control ">Submit</button>
            </div>
            <div class="col-6 py-2">
                
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary form-control">Back</a>
            </div>
        </div>
    </div>
</form>




