@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HEllO</h1>
    <p>blah blah</p>
    <a href="/FuelQuote/Index"><button>fuel quote</button></a>

</div>




