@{ // Intialize a C# code block with @{ }

    // Initialize a dictionary with the key-value pair Title: Privacy Policy
    ViewData["Title"] = "Privacy Policy";
}

<!-- Call the dictionary -->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
